# Default values for fabric-logger.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: splunkdlt/fabric-logger
  tag: release-1.1.0
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080

secrets:
  peer:
    cert: hlf--peer-admincert
      # itemKey can be defined if there is a secret with multiple items stored inside.
      # itemKey: cert.pem 
    key: hlf--peer-adminkey
      # itemKey: key.pem

peer:
  mspName: PeerMSP
  peerName: peer
  username: admin
  peerScheme: grpc  # grpc or grpcs
  peerAddress: peer.default.svc
  peerPort: 7051
  channels:
    # A list of channel names that this peer connects to:
    - channel1
    - channel2

loggingLocation: splunk
splunk:
  hec:
    token: 00000000-0000-0000-0000-000000000000
    port: 8088
    host: splunk.example.com
  index: hyperledger_logs

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: fabric-logger.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}